{% extends "patient_base.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="background-color: white;padding: 10px;">
        <center>
            <form action="{{url_for('predict')}}" method="post" enctype="multipart/form-data">
                <b>Select Mammography Image to Upload:</b>
                <input type="file" name="image" id="image"><br><br>
                <button type="submit" name="submit" class="btn btn-primary">UPLOAD IMAGE</button>
            </form>
        </center>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock %}