<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>

<h2>PERSONAL INFORMATION</h2>
<h3>Age</h3>
<div class="container">
	<input type="radio" id="12-17" name="age" value="12-17">
	<label for="12-17">12-17 years</label><br>
	<input type="radio" id="18-24" name="age" value="18-24">
	<label for="18-24">18-24 years</label><br>
	<input type="radio" id="25-34" name="age" value="25-34">
	<label for="25-34">25-34 years</label><br>
	<input type="radio" id="35-44" name="age" value="35-44">
	<label for="35-44">35-44 years</label><br>
	<input type="radio" id="45-54" name="age" value="45-54">
	<label for="45-54">45-54 years</label><br>
	<input type="radio" id="65" name="age" value="65">
	<label for="65+">65 and above</label><br>
</div>

<h3>Education</h3>
<div class="container">
	<input type="radio" id="1" name="edu" value="dfe">
	<label for="dfe">I don’t have a formal education</label><br>
	<input type="radio" id="2" name="edu" value="pse">
	<label for="pse">I have some primary or secondary education</label><br>
	<input type="radio" id="3" name="edu" value="hse">
	<label for="hse">I have completed high school or obtained an equivalent degree</label><br>
	<input type="radio" id="4" name="edu" value="pde">
	<label for="pde">I have completed a postgraduate degree (masters or doctorate)</label><br>
</div>

<h3>Gender</h3>
<div class="container">
	<input type="radio" id="male" name="gender" value="male">
	<label for="male">Male</label><br>
	<input type="radio" id="female" name="gender" value="female">
	<label for="female">Female</label><br>
	<input type="radio" id="other" name="gender" value="other">
	<label for="other">Other</label>
</div>

<h3>Marital Status</h3>
<div class="container">
	<input type="radio" id="1" name="ms" value="single">
	<label for="single">Single</label><br>
	<input type="radio" id="2" name="ms" value="mdr">
	<label for="mdr">Married/Domestic Relationship</label><br>
	<input type="radio" id="3" name="ms" value="ds">
	<label for="ds">Divorced/Separated</label><br>
	<input type="radio" id="4" name="ms" value="widowed">
	<label for="widowed">Widowed</label><br>
</div>

<h3>Children</h3>
<div class="container">
<input type="text" id="kids" name="kids" placeholder="Number of children">
</div>

<h3>Number of members in family(except you)and who they are</h3>
<div class="container">
<input type="text" id="fm" name="fm" placeholder="Number of members in family excluding you and mention who they are">
</div>

<h3>Employment Status</h3>
<div class="container">
	<input type="radio" id="1" name="es" value="a">
	<label for="a">Employed Full-time</label><br>
	<input type="radio" id="2" name="es" value="b">
	<label for="b">Employed Part-time</label><br>
	<input type="radio" id="3" name="es" value="c">
	<label for="c">Self Employed Full time</label><br>
	<input type="radio" id="4" name="es" value="d">
	<label for="d">Self Employed Part Time</label><br>
	<input type="radio" id="5" name="es" value="e">
	<label for="e">Active Military</label><br>
	<input type="radio" id="6" name="es" value="f">
	<label for="f">Inactive military/Veteran</label><br>
	<input type="radio" id="7" name="es" value="g">
	<label for="g">Temporarily Unemployed</label><br>
	<input type="radio" id="8" name="es" value="h">
	<label for="h">Full time homemaker</label><br>
	<input type="radio" id="9" name="es" value="i">
	<label for="i">Retired</label><br>
	<input type="radio" id="10" name="es" value="g">
	<label for="g">Student</label><br>
	<input type="radio" id="11" name="es" value="h">
	<label for="h">Disabled</label><br>
</div>

<h3>Income(Monthly)</h3>
<div class="container">
	<input type="radio" id="1" name="im" value="1k">
	<label for="1k">Less than 5000</label><br>
	<input type="radio" id="2 name="im" value="2k">
	<label for="2k">5000 - 9999</label><br>
	<input type="radio" id="3" name="im" value="3k">
	<label for="3k">10,000 - 24,999</label><br>
	<input type="radio" id="4" name="im" value="4k">
	<label for="4k">25,000 - 49,999</label><br>
	<input type="radio" id="5" name="im" value="5k">
	<label for="5k">50,000 - 99,999</label><br>
	<input type="radio" id="6" name="im" value="6k">
	<label for="6k">1,00,000 - 1,99,999</label><br>
	<input type="radio" id="7" name="im" value="7k">
	<label for="7k">2,00,000 - 4,99,999</label><br>
	<input type="radio" id="8" name="im" value="8k">
	<label for="8k">5,00,000 - 9,99,999</label><br>
	<input type="radio" id="9" name="im" value="9k">
	<label for="9k">10,00,000 or more</label><br>
</div>

<h3>Family Income before taxes(Yearly)</h3>
<div class="container">
	<input type="radio" id="1" name="iy" value="3">
	<label for="3">Less than 3,00,000</label><br>
	<input type="radio" id="2" name="iy" value="3-4.99">
	<label for="3-4.99">3,00,000 - 4,99,000</label><br>
	<input type="radio" id="3" name="iy" value="5-9.99">
	<label for="5-9.99">5,00,000 – 9,99,000</label><br>
	<input type="radio" id="4" name="iy" value="11-19">
	<label for="11-19">1 – 1.99 million</label><br>
	<input type="radio" id="5" name="iy" value="20-29">
	<label for="20-29">2 – 2.99 million</label><br>
	<input type="radio" id="6" name="iy" value="30-49">
	<label for="30-49">3 – 4.99 million</label><br>
	<input type="radio" id="7" name="iy" value="50-79">
	<label for="50-79">5 – 7.99 million</label><br>
	<input type="radio" id="8" name="iy" value="80-99">
	<label for="80-99">8 – 9.99 million</label><br>
	<input type="radio" id="9" name="iy" value="100">
	<label for="100">10 million or more</label><br>
</div>

<h3>Income/Expense ratio</h3>
<div class="container">
<input type="text" id="I/E" name="I/E Ratio" placeholder="Total Income divided by Total Expenses (Approx.)">
</div>
	
<h2>QUESTIONNAIRE FOR DEPRESSION TEST</h2>

        <form action="#" method = "POST">
	<label for="Intro1">Hello buddy, how are you?</label>
    <textarea id="Intro1" name="Intro1" placeholder="Write something.." style="height:100px"></textarea>
	
	<label for="Intro2">What’s up with you today?</label>
    <textarea id="Intro2" name="Intro2" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro3">What’s your perspective in life?</label>
    <textarea id="Intro3" name="Intro3" placeholder="Write something.." style="height:200px"></textarea>
	
	<label for="Intro4">What are your hobbies?</label>
    <textarea id="Intro4" name="Intro4" placeholder="Write something.." style="height:100px"></textarea>
	
	<label for="Intro5">What are your goals in life?</label>
    <textarea id="Intro5" name="Intro5" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro6">To what extent you think you are progressing in achieving them?</label>
    <textarea id="Intro6" name="Intro6" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro7">Do you believe facing hardships can train you for better future?</label>
    <textarea id="Intro7" name="Intro7" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro8">Do you consume any intoxicants and how frequently?</label>
    <textarea id="Intro8" name="Intro8" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro9">What was your backup profession if not for your current one?</label>
    <textarea id="Intro9" name="Intro9" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro10">What would you do if you win a lottery? How will you spend it?</label>
    <textarea id="Intro10" name="Intro10" placeholder="Write something.." style="height:150px"></textarea>
	
	<h4>One thing which has happened,which you would like to change?</h4>
	<label for="Intro11">a)In your personal life/around you</label>
    <textarea id="Intro11" name="Intro11" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro14">b)In the world</label>
    <textarea id="Intro14" name="Intro14" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro12">Any unexpected things that happened to you which affected you (in a positive/negative way)?</label>
    <textarea id="Intro12" name="Intro12" placeholder="Write something.." style="height:150px"></textarea>
	
	<label for="Intro13">Do you experience frequent mood swings,mentally low at times?</label>
    <textarea id="Intro13" name="Intro13" placeholder="Write something.." style="height:150px"></textarea>
<center><button type="submit" class="btn btn-primary">SUBMIT</button></center>
</form>

<h2>Yes-No type questions</h2>
	<div class="container">
	<h4>Are you experiencing any sleep changes?</h4>
	<input type="radio" id="1" name="yn1" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="1" name="yn1" value="no">
	<label for="no">No</label><br>
	
	<h4>Are you experiencing Inability to concentrate?</h4>
	<input type="radio" id="2" name="yn2" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="2" name="yn2" value="no">
	<label for="no">No</label><br>
	
	<h4>Are you experiencing any appetite changes?</h4>
	<input type="radio" id="3" name="yn3" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="3" name="yn3" value="no">
	<label for="no">No</label><br>
	
	<h4>Difficulty getting through your normal activities?</h4>
	<input type="radio" id="4" name="yn4" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="4" name="yn4" value="no">
	<label for="no">No</label><br>
	
	<h4>Lack of interest in things you used to enjoy?</h4>
	<input type="radio" id="5" name="yn5" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="5" name="yn5" value="no">
	<label for="no">No</label><br>
	
	<h4>Do you feel like withdrawing from friends?</h4>
	<input type="radio" id="6" name="yn6" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="6" name="yn6" value="no">
	<label for="no">No</label><br>
	
	<h4>Are you experiencing feelings of worthlessness or hopelessness?</h4>
	<input type="radio" id="7" name="yn7" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="7" name="yn7" value="no">
	<label for="no">No</label><br>
	
	<h4>Preoccupation with death or thoughts of self-harm?</h4>
	<input type="radio" id="8" name="yn8" value="yes">
	<label for="yes">Yes</label><br>
	<input type="radio" id="8" name="yn8" value="no">
	<label for="no">No</label><br>
</div>

<h2>Anxiety Test(The Hamilton Anxiety Rating Scale)</h2>
	<div class="container">
	<h4>This test composes of 14 questions. On the scale, each item is presented in a specific format.</h4>
	<h4>Following the item number, the item itself is listed along with a brief description of the criterion.</h4>
	<h4>This description is in the form of a short phrase that elaborates on the item and provides specificity to the clinician regarding the appropriate evaluation.</h4>
	<h4>Adjacent to each item is a five-point scale, displaying the numerals 0 to 4 outlined by a square.</h4>
</div>

	<h4>1.Anxious mood: Worries, anticipation of the worst, fearful anticipation, irritability.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>2.Tension: Feelings of tension, fatigability, startle response, moved to tears easily, trembling, feelings of restlessness, inability to relax.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>3.Fears: Of dark, of strangers, of being left alone, of animals, of traffic, of crowds.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>4.Insomnia: Difficulty in falling asleep, broken sleep, unsatisfying sleep and fatigue on waking, dreams, nightmares, night terrors.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>5.Intellectual: Difficulty in concentration, poor memory.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>6.Depressed mood: Loss of interest, lack of pleasure in hobbies, depression, early waking, diurnal swing.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>7.Somatic (muscular): Pains and aches, twitching, stiffness, myoclonic jerks, grinding of teeth, unsteady voice, increased muscular tone.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>8.Somatic (sensory): Tinnitus, blurring of vision, hot and cold flushes, feelings of weakness, pricking sensation.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>9.Cardiovascular symptoms: Tachycardia, palpitations, pain in chest, throbbing of vessels, fainting feelings, missing beat.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>10.Respiratory symptoms: Pressure or constriction in chest, choking feelings, sighing, dyspnea.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>11.Gastrointestinal symptoms: Difficulty in swallowing, wind abdominal pain, burning sensations, abdominal fullness, nausea, vomiting, borborygmi, looseness of bowels, loss of weight, constipation.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>12.Genitourinary symptoms: Frequency of micturition, urgency of micturition, amenorrhea, menorrhagia, development of frigidity, premature ejaculation, loss of libido, impotence.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>13.Autonomic symptoms: Dry mouth, flushing, pallor, tendency to sweat, giddiness, tension headache, raising of hair.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">
	</div>
	
	<h4>14.Behavior at interview: Fidgeting, restlessness or pacing, tremor of hands, furrowed brow, strained face, sighing or rapid respiration, facial pallor, swallowing, etc.</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 4):</label>
	<input type="range" id="vol" name="vol" min="0" max="4">-
	</div>
	
<h2>Depression Test(Montgomery–Åsberg Depression Rating Scale)</h2>
<div class= "container">
	<h4>1.Apparent sadness</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>2.Reported sadness</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>3.Inner tension</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>4.Reduced sleep</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>5.Reduced appetite</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>6.Concentration difficulties</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>7.Lassitude</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>8.Inability to feel </h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>9.Pessimistic thoughts</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
	
	<h4>10.Suicidal thoughts</h4>
	<div class="container">
	<label for="vol">Volume (between 0 and 6):</label>
	<input type="range" id="vol" name="vol" min="0" max="6">
	</div>
</div>

<input type="submit">
</body>
</html>
