{% extends "patient_base.html" %}
{% block body %}
<br><br>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 form_inp">
        <form action="#" method = "POST">
            <b>Age: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="age" placeholder="in Years" required><br><br>

            <b>Weight: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="weight" placeholder="in Kg" required><br><br>

            <b>Height: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="height" placeholder="in cm" required><br><br>

            <b>Systolic BP: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="ap_hi" placeholder="in mmHg" required><br><br>

            <b>Diastolic BP: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="ap_lo" placeholder="in mmHg" required><br><br>

            <b>Total Cholesterol: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="chol" placeholder="in mg/dL" required><br><br>

            <b>Glucose: &nbsp&nbsp&nbsp&nbsp </b>
            <input type="number" name="gluc" placeholder="in mg/dL" required><br><br>

            <b>Gender: &nbsp&nbsp</b>
            <input type="radio" id="male" name="gender" value="1" required>
            <label for="male">MALE</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="gender" value="0" required>
            <label for="female">FEMALE</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Smoker: &nbsp&nbsp</b>
            <input type="radio" id="male" name="smoke" value="1" required>
            <label for="male">YES</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="smoke" value="0" required>
            <label for="female">NO</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Alcoholic: &nbsp&nbsp</b>
            <input type="radio" id="male" name="alco" value="1" required>
            <label for="male">YES</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="alco" value="0" required>
            <label for="female">NO</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Physically Active: &nbsp&nbsp</b>
            <input type="radio" id="male" name="active" value="1" required>
            <label for="male">YES</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="active" value="0" required>
            <label for="female">NO</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Endocrine, Nutritional and Metabolic, Immunity disorders: &nbsp&nbsp</b>
            <input type="radio" id="male" name="enm" value="1" required>
            <label for="male">TRUE</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="enm" value="0" required>
            <label for="female">FALSE</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Circulatory system diseases: &nbsp&nbsp</b>
            <input type="radio" id="male" name="csd" value="1" required>
            <label for="male">TRUE</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="csd" value="0" required>
            <label for="female">FALSE</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Diseases of the blood and blood-forming organs: &nbsp&nbsp</b>
            <input type="radio" id="male" name="dob" value="1" required>
            <label for="male">TRUE</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="dob" value="0" required>
            <label for="female">FALSE</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Genitourinary diseases: &nbsp&nbsp</b>
            <input type="radio" id="male" name="gd" value="1" required>
            <label for="male">TRUE</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="gd" value="0" required>
            <label for="female">FALSE</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <b>Diseases of musculoskeletal system and connective tissue: &nbsp&nbsp</b>
            <input type="radio" id="male" name="dms" value="1" required>
            <label for="male">TRUE</label>&nbsp&nbsp&nbsp&nbsp
            <input type="radio" id="female" name="dms" value="0" required>
            <label for="female">FALSE</label>&nbsp&nbsp&nbsp&nbsp<br><br>

            <center><button type="submit" class="btn btn-primary">SUBMIT</button></center>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<br><br>
{% endblock %}